@page "/notes/create"
@* Create Note Page *@

<PageTitle>Create Note</PageTitle>

<h1>Create Note</h1>

@* TODO: Use NoteEditor component in next phase *@
<p>Create note page will be implemented in next phase.</p>

@code {
    // TODO: Add page logic in next phase
}