@page "/notes/edit/{id:int}"
@* Edit Note Page *@

<PageTitle>Edit Note</PageTitle>

<h1>Edit Note</h1>

@* TODO: Use NoteEditor component in next phase *@
<p>Edit note page will be implemented in next phase.</p>

@code {
    [Parameter] public int Id { get; set; }
    
    // TODO: Add page logic in next phase
}