@page "/notes"
@* Notes Index Page *@

<PageTitle>Notes</PageTitle>

<h1>Notes</h1>

@* TODO: Use NoteList component in next phase *@
<p>Notes page will be implemented in next phase.</p>

@code {
    // TODO: Add page logic in next phase
}